@media all and (min-width: 1170px) {
	#header .portfolio-items .portfolio-item {
		width: 50%;
	}
	#portfolio .portfolio-items .portfolio-item:last-child {
		width: 100%;
	}
}

@media all and (max-width: 1170px) {
	#header {
		background-image: 70%;
		display: block;
		padding: 0 20px;
		line-height: 60px;
		text-decoration: none;
		border: none;
		text-align: right;
	}
	#h1 {
		font-size: 70%;
	}
	#h2 {
		font-size: 70%;
	}
}

.header-caption {
	padding: 10%;
}

@media all and(max-width: 992px) {
	padding: 0 40px 50px;
	#header {
		background-image: 50%;
		display: inline-block;
		padding: 0 20px;
		text-decoration: none;
		border: none;
		text-align: center;
	}
}
