

@media (min-width: 1170px) {
	
	
}

@media (min-width: 992px) and (max-width: 1170px) {
	background-image: width: 70%;}
	#header .header-caption: {
		text-align: right;
		top: 5%
		padding: 0 1px 2px;		
	}
#header.header caption h1 {
	font-size:1em; 
}
#header.header caption h2 {
	font-size:2.5em; 
}

@media (max-width: 992px) 
	#header {
		
		display: inline-block;
	
		
		
	}

